



@import url('https://fonts.googleapis.com/css2?family=Gotu&family=Oleo+Script&family=Oswald:wght@200&family=Poppins:wght@400;500;600;700;800;900&family=Roboto+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gotu&family=Herr+Von+Muellerhoff&family=Oleo+Script&family=Oswald:wght@200&family=Poppins:wght@400;500;600;700;800;900&family=Roboto+Mono:wght@100&display=swap');

*,       /*bu dosyayı tut!*/
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-family: 'Poppins', sans-serif;
}

a,
a:link,
a:visited{
    text-decoration: none; /*altı çizili istemiyoruz*/
    outline: none; /*basıldığı zaman üstüne işaret çıkmasın*/
    border: none;
}

ul,li{
    list-style: none;
    margin: 0;
    padding: 0;

}
section,span,p{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

.container{
    max-width: 1800px;
    margin: 0 auto; /*alt üst 0 kenar oto*/
    padding: 0 0;
   
}

.header{
    background-image: url(taisiia-shestopal-l5GkMpCBK8E-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;  /*  tüm ekranı kaplar! çok önemli*/

    
}

.header-h2{
    letter-spacing: 3px;
    font-size: 50px;
    
    font-weight: 500;
   font-family: 'Herr Von Muellerhoff', cursive;
    color: #e9cccc;
}

.header-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 0;

}






.header-logo{
    font-size: 16px;
    border-bottom: 5px solid #e9cccc;
    border-radius: 35px;
    padding-bottom: 5px;

}

.navbar-list{ /*ul*/
    display: flex;
}



li{
    margin-left: 75px;
    
    
}
li:last-child{
    margin-right: 100px;
}

a{
    color: #ffcbcb;
    font-size: large;
    font-weight: bold;
}


.header-text{

    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

h1{
    font-family: 'Herr Von Muellerhoff', cursive;
    font-size: 10rem;
    font-weight: 100;
    line-height: 0.4;
    letter-spacing: 2px;
    color: #c9beb0;
}

.first-letter{
    font-family: 'Herr Von Muellerhoff', cursive;
  font-size:   13rem;
  color: #c9beb0;
}

h3{
    font-family: 'Herr Von Muellerhoff', cursive;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 1px;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
 
    color: #c9beb0;
}

.btn-travel{
    font-family: 'Gotu', sans-serif;
    display: block;
    background-color: #b89a73;
    color: #806262;
    padding: 10px 15px;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    position: relative; /* buna relative vermeden aşağı absolute veremezsin!*/
    overflow: hidden; /*taşarsa gizle*/
}

.btn-travel::after{
    font-family: 'Gotu', sans-serif;
    content: "I nostri viaggi";
    position: absolute; 
    top: 100%;
    left: 0;
    background-color: #806262;
    color: #b89a73;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center; 
    justify-content: center;
    transition: .5s;
}

.btn-travel:hover::after{
    top:0; 
}


/**ABOUT*/

.about{
    margin-bottom: 150px;
}

.about-title{
    margin: 60px 0;
}

.about-title h2 {
    font-family: 'Gotu', sans-serif;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    color: #806262;
    font-size: 30px;
    font-weight: 500;

}
.about-title h2::after {
   
    content: "";
    width: 30px;
    height: 3px;
    background-color: #806262;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
    font-weight: 100;

}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#image{
   border-top-left-radius: 35px;
   border-bottom-right-radius: 35px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 50vh; 
}

.about-text {

  
    width: 40%; 
}

    h4{
        font-family: 'Herr Von Muellerhoff', cursive;
        color: #806262;
        margin-bottom: 25px;
        text-align: center;
        font-size: 65px;
        font-weight: bold;
        letter-spacing: 0.1rem;
    }

    #asteriks{
        margin-bottom: 30px;
        text-align: center;
    }

    .about-text p{
        font-size: 15px;
        text-align: center;
        color: #2c2727;
    }



    /*Portfolio Section*/

    .portfolio{
        display: flex;
        flex-wrap: wrap; /*resim taşarsa aşağı atıyor.*/
    }

    .portfolio-item{
        width: 25%;
        height: 300px;
        overflow: hidden;
        position: relative;
        border-radius: 20px;
        
    }
    .portfolio-item img{
        width: 100%;
        height: 100%;
        object-fit: cover;  /*en boy oranını koruyup sığdırıyor!*/
        border-radius:  20px;
        transition: .5s;
    }


    .overlay{
        width: 100%;
        height: 100%;
        background-color: #5b2a02;

        position: absolute;
        top: 100%;
      
        opacity: 0.8;
        color: #fff;
        font-size: 100px;
        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 20px;
        transition: .5s;
    }

    .portfolio-item:hover .overlay{

        top: 0; /*iconların*/
    }
    .portfolio-item:hover img{
        transform: scale(1.2);
    }


    /*contact*/

    .contact{
        padding: 10px 0;

    }

    .contact h2{
        padding-top: 50px;
        font-family: 'Gotu', sans-serif;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        color: #806262;
        font-size: 30px;
        font-weight: 500;
    }

    .contact-content{
        padding-left: 25%;
        padding-right: 25%;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .contact span{
        
        margin-bottom: 20px;
    }

    .contact-item{
        color: #806262;
    }

    .contact-item p {
        font-size: 14px;
       /*line-height satır arası boşluk*/
    }


    /*Footer*/

    .footer h2 {
        padding-top: 50px;
        font-family: 'Gotu', sans-serif;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        color: #806262;
        font-size: 30px;
        font-weight: 500;

    }

    .footer{
        background-color: #000;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }

    .footer-copyright {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        flex-basis: 55%;
        margin-top: 20px;
        text-align: center;
        color: #fff;
    }
    .footer-content{
       
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .footer-social ul li{

        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: space-between;
        
        
    }

    .footer-social ul li a {
        margin-left: 70px;
    }

    #menu-icon{
        font-size: 55px;
        display: none;
    }

    @media only screen and (max-width:768px){

        .header-menu{
            display: flex;
            flex-direction: column ;
        }
        .header-menu ul{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: absolute;
            top: 100px;
            left: 0px;
            background-color: #5b2a02;
            opacity: 0.5;
            width: 100%;
            overflow: hidden;
            transition: max-height .5s; /*menünün açılması .5s*/
        }

        .header-menu ul li{
            margin-right: 50px;
            margin-top: 10px;
            margin-bottom: 10px;
         
        }
        .header-menu ul li a {
            color: #fff;
            opacity: 1;
        }
        .header-menu #menu-icon{
            display: block;
            cursor: pointer;
            color: #fff;

            size:500px;

            
        }

        .header-navbar{
            display: flex;
            flex-direction: row;
                    align-items: center;
                    justify-content: center;
        }

        .navbar-list{
            margin-top: 70px;
        }



        .about-content{
            display: flex;
            flex-direction: column;
        }


        .portfolio .portfolio-item{
            flex-basis: 50%;
        }

        .contact-content{
            flex-direction: column;
            padding-bottom: 20px;
        }
        .contact-content{
            flex-direction: column;
          
        }
        .contact-item {
            padding-top: 30px;
            padding-bottom: 20px;
            align-items: center;
            margin-left: 10px;
            justify-content: center;
        }
        .contact-item span{
            display: flex;
            align-items: center;
            margin-left: 10px;
            justify-content: center;
        }
    }


    /*telefon*/
    @media only screen and (max-width:500px){

        .portfolio .portfolio-item{
            flex-basis: 100%;
        }

    }
    
    